<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}
				Clustering - 
			{% endblock %}
		</title>
		{% block css %}
			{% load static %}
			<link rel="stylesheet" href="{% static 'css/metro.min.css' %}" />
			<link rel="stylesheet" href="{% static 'css/metro-icons.css' %}" />
			<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		{% endblock %}

		{% block js%}
			{% load static %}
			<script src="{% static 'js/jquery.min.js' %}"></script>
    		<script src="{% static 'js/metro.min.js' %}"></script>
		{% endblock %}
	</head>
	<body>
		<div class="margin20">
			<nav>
				{% block nav %}
					
				{% endblock %}
			</nav>

			<section id="content">
				<div class="container">

					{% block stepper %}

					{% endblock %}
				
					{% block content %}
						

					{% endblock %}
				
				</div>
			</section>
		</div>
	</body>
	<footer>
		{% block footer %}

		{% endblock %}
	</footer>
</html>