{% extends "base.html" %}
{% block title %}{{ block.super }} Choix des données {% endblock %}
{% block stepper %}
    <div class="stepper diamond" id="stepper"></div>
    <script>
        $(function(){
            $("#stepper").stepper();
        });
    </script>
{% endblock %}

{% block content %}
	<div class="row cells1">
		<div class="cell">
		    <h2>Selection</h2>
		    <p>Affichage de l'écran numéro {{id_screen}}</p>
		    <div id="info">
		    	<div class="panel">
				    <div class="heading">
				        <span class="title">Informations</span>
				    </div>
				    <div class="content padding20">
				        La classification se fait en mode non supervisée sur la base de fichiers de logs.<br/>

				        Une fonction permet l’extraction de K classes de comportement (K en paramètre)<br/>

				        Une fonction permet d’extraction des N% de comportements les plus en marge de chaque classe, dans un ordre de distance décroissante
						pour la classe (N/100 en paramètre)<br/>
				    </div>
				</div>
		    </div>
		</div>
	</div>

	<div class="row cells1">
		<div class="cell">
		    <form>

				<div class="row cells1">
					<div class="cell">
		    			<div class="input-control file" data-role="input">
			    			<input type="file">
				    		<button class="button">
				    			<span class="mif-folder"></span>
				    		</button>
						</div>
					</div>
				</div>

				<div class="row cells2 flexi">
					<div class="cell">
						<div class="input-control text">
						    <input type="text" placeholder="Choose n observations ...">
						</div>
					</div>
					<div class="cell">
						<div class="input-control text">
						    <input type="text" placeholder="... into k clusters">
						</div>
					</div>
				</div>

				<div class="row cells1">
					<div class="cell">
						<label for="choixClassification">Choix de classification (vous pouvez choisir plusieurs champs)</label>
						<div class="input-control select multiple full-size height100" id="choixClassification">
						    <select multiple>
						        <option>1 - word_freq_make</option>         
								<option>2 - word_freq_address</option>      
								<option>3 - word_freq_all</option>          
								<option>4 - word_freq_3d</option>           
								<option>5 - word_freq_our</option>          
								<option>6 - word_freq_over</option>         
								<option>7 - word_freq_remove</option>       
								<option>8 - word_freq_internet</option>     
								<option>9 - word_freq_order</option>
								<option>10 - word_freq_mail</option>         
								<option>11 - word_freq_receive</option>      
								<option>12 - word_freq_will</option>         
								<option>13 - word_freq_people</option>       
								<option>14 - word_freq_report</option>       
								<option>15 - word_freq_addresses</option>    
								<option>16 - word_freq_free</option>         
								<option>17 - word_freq_business</option>     
								<option>18 - word_freq_email</option>        
								<option>19 - word_freq_you</option>          
								<option>20 - word_freq_credit</option>       
								<option>21 - word_freq_your</option>         
								<option>22 - word_freq_font</option>         
								<option>23 - word_freq_000</option>          
								<option>24 - word_freq_money</option>        
								<option>25 - word_freq_hp</option>           
								<option>26 - word_freq_hpl</option>          
								<option>27 - word_freq_george</option>       
								<option>28 - word_freq_650</option>          
								<option>29 - word_freq_lab</option>          
								<option>30 - word_freq_labs</option>         
								<option>31 - word_freq_telnet</option>       
								<option>32 - word_freq_857</option>          
								<option>33 - word_freq_data</option>         
								<option>34 - word_freq_415</option>          
								<option>35 - word_freq_85</option>           
								<option>36 - word_freq_technology</option>   
								<option>37 - word_freq_1999</option>         
								<option>38 - word_freq_parts</option>        
								<option>39 - word_freq_pm</option>           
								<option>40 - word_freq_direct</option>       
								<option>41 - word_freq_cs</option>           
								<option>42 - word_freq_meeting</option>      
								<option>43 - word_freq_original</option>     
								<option>44 - word_freq_project</option>      
								<option>45 - word_freq_re</option>           
								<option>46 - word_freq_edu</option>          
								<option>47 - word_freq_table</option>        
								<option>48 - word_freq_conference</option>   
								<option>49 - char_freq_;</option>            
								<option>50 - char_freq_(</option>            
								<option>51 - char_freq_[</option>            
								<option>52 - char_freq_!</option>            
								<option>53 - char_freq_$</option>            
								<option>54 - char_freq_#</option>            
								<option>55 - capital_run_length_average</option> 
								<option>56 - capital_run_length_longest</option> 
								<option>57 - capital_run_length_total</option>
						    </select>
						</div>
					</div>
				</div>

				<div class="row cells1">
					<div class="cell">
					<a href="{% url "clustering.views.view_screen" 2 %}">
						<input class="success right" type="button" value="Go to the next step !">
					</a>
					</div>
				</div>

		    </form>
		</div>
	</div>
{% endblock %}