{% extends "base.html" %}
{% block title %}{{ block.super }} Affichage statistique {% endblock %}
{% block stepper %}

    <div class="stepper diamond" id="stepper"></div>
    <script>
        $(function(){
            $("#stepper").stepper();
            
        });

        $(document).ready(function(){
        	$("#stepper").stepper('stepTo',2);
        });
    </script>
{% endblock %}

{% block content %}
	<div class="row cells1">
		<div class="cell">
		    <h2>Selection</h2>
		    <p>Affichage de l'écran numéro {{id_screen}}</p>
		    
		</div>

		<div class="row cells1">
			{% block tableauStats %}
				<table class="table">
			    <thead>
			        <tr>
			        	<th class="sortable-column sort-desc">
				        	Nom	
				        </th>
				        <th class="sortable-column sort-desc">
				        	Min	
				        </th>
				        <th class="sortable-column sort-desc">
				        	Max	
				        </th>
				        <th class="sortable-column sort-desc">
				        	Moyenne	
				        </th>
			        	<th class="sortable-column sort-desc">
				        	Ecart-type	
				        </th>
			        </tr>
			    </thead>
			    <tbody>
			    	{% for stats in objetsStats %}
				        <tr>
				        	<td>{{ stats.nom }}</td>
				        	<td>{{ stats.minS }}</td>
				        	<td>{{ stats.maxS }}</td>
				        	<td>{{ stats.moyenne }}</td>
				        	<td>{{ stats.ecart_type }}</td>
				        </tr>
			        {% endfor %}
							    	
			    </tbody>
			</table>
			{% endblock %}
		</div>
		<div class="row cells2">
			<div class="cell">
				<div class="input-control select">
    				<select id="xParameter" name="xParameter" onchange="changeSelectX({{ resultNormalize }})">
    					{% for stats in objetsStats %}
    						<option>{{ stats.nom }}</option>
						{% endfor %}    					
    				</select>
    			</div>
			</div>
			<div class="cell">
				<div class="input-control select">
    				<select id="yParameter" name="yParameter"  onchange="changeSelectY({{ resultNormalize }})">
    					{% for stats in objetsStats %}
    						<option>{{ stats.nom }}</option>
						{% endfor %}   					
    				</select>
    			</div>
			</div>
		</div>
		<div class="row cells2">
			
			<div class="cell">
				<a href="{% url "clustering.views.view_screen" 3 %}">
					<input class="success right" type="button" value="Go to the next step !">
				</a>
			</div>

			<div class="cell">
				<a href="{% url "clustering.views.view_screen" 1 %}">
					<input class="margin10Right right" type="button" value="Return to step 1">
				</a>
			</div>
		</div>
	</div>

{% endblock %}
